/* ==================================================
   VARIÁVEIS
================================================== */

:root {
  --cor-primaria: #2563eb;
  --cor-destaque: #ff7a00;
  --cor-secundaria: #1f2937;
  --cor-branco: #ffffff;
  --cor-texto-secundario: rgba(255, 255, 255, 0.7);
  --sombra-card: 0 4px 10px rgba(0, 0, 0, 0.15);
}
/* ==================================================
   CARD
================================================== */

.card {
  background: var(--cor-secundaria);
  color: var(--cor-branco);

  padding: 20px;
  border-radius: 10px;

  display: flex;
  gap: 15px;
  align-items: center;

  min-width: 200px;

  box-shadow: var(--sombra-card);

  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-2px) scale(1.03);
}

.card-icon {
  font-size: 32px;
  color: var(--cor-destaque);
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-info h3 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}

.card-info p {
  margin: 4px 0 0;
  color: var(--cor-texto-secundario);
  font-size: 0.95rem;
}
